+/* Default styles first then media queries */
 html, body {
-    background: black;
     background-attachment: fixed;
     height: unset;
     min-height: 100vh;
@@ -20,14 +20,16 @@ md-content {
 }
 
 .add-page .torrent-input-box {
-    width: 500px;
+    width: 75%;
     height: 80px;
 }
 
 .add-page .torrent-input-box label,
 .add-page .torrent-input-box input {
     text-shadow: none;
-    color: white;
+    color: #FF7043;
+    border-color: #FFAB91;
+    font-size: 14.3pt;
 }
 
 .torrents-page {
@@ -81,4 +83,26 @@ md-content {
 
 .zip-download {
     vertical-align: -13px;
-}
+}
+
+/* Media queries style */
+@media screen and (min-width: 400px)  {
+  .add-page .torrent-input-box {
+      width: 80%;
+  }
+}
+@media all and (min-width: 600px)  {
+  .add-page .torrent-input-box {
+      width: 65%;
+  }
+}
+@media all and (min-width: 1000px) {
+  .add-page .torrent-input-box {
+      width: 50%;
+  }
+}
+@media all and (min-width: 1400px) {
+  .add-page .torrent-input-box {
+      width: 35%;
+  }
+}
